body {
  background-color: #34568b;
  color: white;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.loader {
  border: 16px solid #f3f3f3;
  margin: auto;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
  border-top: 16px solid #05386b;
  border-bottom: 16px solid #5cdb95;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
